{{yield}}

<div class="building" {{action (fn this.getFloors @building.building_name)}}>
    <center><h2>{{@building.building_name}}</h2></center>
        <h3>Descreption : </h3>
        <p>{{@building.description}}</p>
        <h3>Address : </h3>
        <p>{{@building.street_address}}<br>
        {{@building.area}}<br>
        Pincode : {{@building.pincode}}<br>
        Contact : {{@building.phone_number}}</p>    
        <h3>Prices : </h3>
        <p>
            {{#each @building.vehiclePrices as |vehicle|}}
                {{vehicle.vehicle_type}} : Rs.{{vehicle.price_per_hour}} per hour<br>
            {{/each}}
        </p>
        {{!-- {{#if this.isOwner}}
            <div class="editor">
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash"></i>
            </div>
        {{/if}} --}}
</div>