{{yield}}

<div class="menu"><br><br><br><br><br>
    {{!-- <div class="navigator" {{action 'getBuilding'}}>My Buildings</div><br>
    <div class="navigator" {{action 'editFloor'}}>Add/Edit floor</div><br>
    <div class="navigator" {{action 'editBlock'}}>Add/Edit Block</div><br>
    <div class="navigator" {{action 'viewFloors'}}>View floors</div><br>
    <div class="navigator" {{action 'editBlock'}}>Add/Edit Block</div><br> --}}
</div>